<div class="grid-item">
  {% if member.redirect %}
  <a href="{{ member.redirect }}" target="_blank">
  {% else %}
  <a href="{{ member.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      {% if member.img %}
      <img src="{{ member.img | relative_url | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" alt="project thumbnail">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title text-center">{{ member.first_name }}</h2>
        <div class="row ml-1 mr-1 p-0">
        </div>
      </div>
    </div>
  </a>
</div>
